<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEPSE API</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel = "icon" href ="/static/images/api.png" type = "image/x-icon"> 
  <link rel="stylesheet" href="/static/plugins/aos/aos.css">
</head>
<body>
  <script src="/static/plugins/aos/aos.js"></script>
        <script type="text/javascript">
            AOS.init({
                duration: 1200,
            });
        </script>
  <div class="header" data-aos="fade-right">
      <nav>
        <ul data-aos="fade-right">
          <li><a href="https://api-nepse.herokuapp.com/" class="home" target="_blank">HOME</a></li>
          <li><a href="https://api-nepse.herokuapp.com/todays_price" class="api" target="_blank">TODAY'S PRICE</a></li>
          <li><a href="https://api-nepse.herokuapp.com/floor_sheet" class="symbol" target="_blank">FLOOR SHEET</a></li>

        </ul>
      </nav>
  </div>
  <div class="graph-container" data-aos="fade-down">
    
      <h1 class="nepse">NEPSE API</h1>
</div>
<br>
<br>
<br>
<h1 class="about" data-aos="fade-up">ABOUT</h1>
<div class="darkgray-container" data-aos="fade-right">
      <h2 class="description"data-aos="fade-right">Real-time json data of Nepalese Stock Market:<br>
        NEPSE scraper API</h2>
</div>
<br>
<br>
<br>
<h1 class="Developers" data-aos="fade-down">DEVELOPED BY:-</h1>
<div class="gray-container" data-aos="fade-down">
        <a href="https://www.instagram.com/scifidemon/" target="_blank"><img src="/static/images/sovit.png" alt="Sovit Lekhak" class="dev1" data-aos="fade-right"><p class="dev1name">SOVIT LEKHAK</p></a>
        <a href="https://www.instagram.com/39abii/" target="_blank"><img src="/static/images/abi.png" alt="Abi Shrestha" class="dev2" data-aos="fade-right"><p class="dev2name">ABI SHRESTHA</p></a>
        <a href="https://www.instagram.com/abiral__101/" target="_blank"><img src="/static/images/abiral.png" alt="Abiral Bhattarai" class="dev3" data-aos="fade-right"><p class="dev3name" >ABIRAL BHATTARAI</p></a>
</div>
</body>
</html>